@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700&subset=cyrillic');

html, body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

/*главная страница*/
.container {
	width: 1366px;
	margin: 0 auto;
	min-height: 100%;
}

/*шапка*/
.header {
	background-image: url('img/slider.jpg');
	height: 800px;
}

.header .logo {
	margin-left: 98px;
	margin-top: 63px;
}

.main {
	float: right;
	margin-top: 67px;
	margin-right: 167px;
	width: 534px;
}

.main .menu {
	float: left;
}

.main .search {
	float: left;
	margin-left: 21px;
	margin-top: 12px /*48px - 24px /2 = 12*/
}

.menu li {
	float: left;
	list-style-type: none; 
}

.menu li a{
	color:  #8c8c8c;
	font-size: 14px;
	font-weight: 700;
	line-height: 48px;
	display: block;
	text-decoration: none;
	padding: 0 10px;
}

.menu li a:hover{
	color:  #212121;
	border-bottom: 2px solid black;
}

.text {
	width: 458px;
	height: 233px;
	margin-left: 97px;
	margin-top: 288px;
}

.text h3 {
	color:  #43a047;
	font-size: 18px;
	font-weight: 700;
	line-height: 13px;
	margin-bottom: 22px;
}

.text h1 {
	/*color:  #212121;
	font-size: 60px;*/ /*сделала шрифт меньше, т.к. текст заходит изображение пуфа*/
	/*font-weight: 100;
	line-height: 72px;
	white-space: nowrap;*/
	/* Style for "Fishnet Ch" */
	width: 435px;
	color: #212121;
	font-size: 59px;
	font-weight: 100;
	line-height: 43px;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 0px;
	margin-bottom: 34px;
}

.text p {
	color:  #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 10px;
}

.text a {
	display: block;
	background:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	text-decoration: none;
	color:  #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 45px;
	text-align: center;
	border-radius: 22px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text a:hover {
	background:  #ffffff url('img/arrow.png') no-repeat 175px 16px;
}	

.navigation {
	width: 120px;
	height: 40px;
	margin: 141px auto 0 auto;
}

.navigation ul{
	width: 120px;
	height: 40px;
	list-style-type: none; 
}

.navigation ul li {
	float: left;
	width: 35px;
	margin-right: 5px;
}

.navigation ul li:last-child {
	float: left;
	width: 35px;
	height: 35px;
	text-align: center;
	margin-right: 0px;
}

.navigation a {
	border-radius: 50%;
	background-color:  #C4C4C4;
	width: 25px;
	height: 25px;
	display: block;
	margin: auto;
}

.navigation a:hover {
	background-color:  #212121;
	width: 35px;
	height: 35px;
	display: block;
	margin-top: -5px;
	transition: 0.5s;
}


/*2 секция после шапки*/
.featured_products {
	width: 1171px;
	height: 369px;
	margin: 120px auto 0 auto;
}

.featured_products .tab-controll li {
	list-style-type: none;
	float: left; 
	margin-top: 0;
	line-height: 27px;
}

.featured_products .tab-controll li a{
	text-decoration: none;
	padding: 0 5px;
	color:  #6c6c6c;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: left;
	border-bottom: 1px solid black;
	line-height: 27px;
}

.featured_products .tab-controll li a:hover{
	color:  #212121;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: left;
	border-bottom: 2px solid #6c6c6c;
	line-height: 25px; 
}

.explore{
	display: block;
	float: right;
	background: #ffffff;
	width: 158px;
	height: 24px;
	color:  #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

.explore:hover {
	background:  #ffffff url('img/arrow.png') no-repeat 136px 4px;
}

.tab_content {
	margin-top: 68px;
	float: left;
}

.tab_content li:last-child{
	padding-right: 0px;
}

.tab_content li {
	float: left;
	list-style-type: none;
	padding-right: 30px;
	width: 268px;
	height: 268px;
	position: relative;
}

.tab_content .product-content-hover img{
	outline: 1px solid #9c9c9c;
	width: 268px;
	height: 268px;
}

.back {
	position: absolute;
	width: 268px;
    height: 268px;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    margin-top: 0;
    opacity: 0;
    -webkit-transition: all 5s;
     -moz-transition: all 5s;
     -o-transition: all 5s;
    transition: all .5s;
}

.back:hover {
	opacity: 0.9;
}

.tab_content .product-content-hover h4{
	position: absolute;
	left: 63px;
	top: 129px;
	z-index: 2;
	color:  #212121;
	font-size: 21.91px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
}

.tab_content .product-content-hover p{
	position: absolute;
	left: 32px;
	top: 169px;
	z-index: 2;
	color:  #6c6c6c;
	font-size: 13px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 22px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	width: 206px;
	height: 33px;
}

.back_button {
	position: absolute;
	left: 111px;
	top: 62px;
	border-radius: 50%;
	background-color:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 48px;
	height: 48px;
	display: block;
	background: url(img/arrow_back.png) no-repeat 18px 14px;
}


/*3 блок*/
.promo_products {
	height: 683px;
	margin-top: 120px;
}

.promo-img1 {
	background-image: url('img/promo-img1.jpg');
	width: 683px;
	height: 683px;
	float: left;
	position: relative;
}

.promo-img2 {
	background: url('img/promo-img.jpg');
	width: 683px;
	height: 683px;
	float: left;
	position: relative;
}

.promo-img1 .text3, .promo-img2 .text3 {
	left: 50px;
	top: 228px;
}

.trending_products {
	margin: 119px auto 0 auto;
	width: 1171px;
	height: 869px;
}

.trending_products h3 {
	color:  #212121;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	margin-top: 0;
	display: inline;
}

.trending_products .products {
	margin-top: 64px;
	list-style-type: none;
	width: 1170px;
}

.products li {
	float: left;
	padding-right: 30px;
	padding-bottom: 30px;
}

.products li:nth-child(3n) {
	padding-right: 0;
}

.hot_deal_products {
	background: url('img/slider_hot.jpg');
	height: 800px;
	margin-top: 110px;
	position: relative;
}

.text2 {
	float: left;
	width: 458px;
	margin-left: 98px;
	margin-top: 288px;
}

.text2 h3 {
	color:  #e53935;
	font-size: 18px;
	font-weight: 700;
	line-height: 13px;
	margin-bottom: 22px;
}

.text2 h2 {
	color:  #212121;
	font-size: 62px; 
	font-weight: 100;
	line-height: 43px;
	margin-bottom: 34px;
	white-space: nowrap;
}

.text2 p {
	color:  #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 32px;
}

.text2 a {
	display: block;
	background:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	text-decoration: none;
	color:  #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 45px;
	text-align: center;
	border-radius: 22px;
	text-transform: uppercase;
}

.text2 a:hover {
	background:  #ffffff url('img/arrow.png') no-repeat 175px 16px;
}	

.navigation2 {
	width: 120px;
	height: 40px;
	position: absolute;
	left: 623px;
	bottom: 20px;
}

.navigation2 ul{
	width: 120px;
	height: 40px;
	list-style-type: none; 
}

.navigation2 ul li {
	float: left;
	width: 35px;
	margin-right: 5px;
}

.navigation2 ul li:last-child {
	float: left;
	width: 35px;
	height: 35px;
	margin-right: 0px;
}

.navigation2 a {
	border-radius: 50%;
	background-color: #C4C4C4;
	width: 25px;
	height: 25px;
	display: block;
	margin: auto;
}

.navigation2 a:hover {
	background-color:  #212121;
	width: 35px;
	height: 35px;
	display: block;
	margin-top: -5px;
	transition: 0.5s;
}


/*след блок*/
.exclusive_products {
	width: 1171px;
	height: 570px;
	margin: 120px auto 0 auto;
}

.exclusive_products ul{
	list-style-type: none; 
}

.exclusive_products ul li:first-child{
	padding-left: 0;
	position: relative;
}	

.exclusive_products ul li{
	padding-left: 30px;
	padding-bottom: 30px;
	float: left;
} 

.text3 {
	position: absolute;
	left: 31px;
	top: 186px;
}

.text3 h3 {
	width: 115px;
	line-height: 13px;
	color: #1e88e5;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	/* Text style for "exclusive" */
	color: #1e88e5;
	letter-spacing: 1.8px;
	margin-bottom: 18px;
}

.text3 h2 {
	width: 236px;
	line-height: 28px;
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	white-space: nowrap;
	margin-bottom: 24px;
}

.text3 p {
	width: 332px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	line-height: 24.04px;
	margin-bottom: 34px;
}

.text3 a {
	display: block;
	background:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	text-decoration: none;
	color:  #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 45px;
	text-align: center;
	border-radius: 22px;
	text-transform: uppercase;
}

.text3 a:hover {
	background:  #ffffff url('img/arrow.png') no-repeat 175px 16px;
}

/*след блок*/
.mobile_app {
	background-image: url(img/back-img.jpg);
	height: 516px;
	margin-top: 120px;
}

.mobile_app .text4 {
	margin-top: 125px;
	margin-left: 98px;
	width: 415px;
	height: 271px;
	float: left;
}

.text4 h3 {
	height: 13px;
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	/* Text style for "mobile app" */
	color: #6c6c6c;
	letter-spacing: 1.8px;
}

.text4 h2 {
	color:  #212121;
	font-size: 60px;/* Приближение из-за подстановки шрифтов */
	font-weight: 100;
	line-height: 72px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	white-space: nowrap;
	margin-top: 22px;
}

.text4 p {
	color: #6c6c6c;
	font-size: 22px;
	font-weight: 300;
	line-height: 24px;
	margin-top: 26px;
	margin-bottom: 33px;
	white-space: nowrap;
}

.clr {
	height: 384px;
}

/*footer*/
.footer {
	background-color: #f7f7f7;
	height: 384px;
	margin: -384px auto 0;
	width: 1366px;
	clear: both;
}

.block1 {
	margin-left: 97px;
	margin-top: 99px;
	float: left;
	margin-bottom: 67px;
}

.block1 div{
	float: left;
}

.contacts_us {
	margin-right: 80px;
	width: 221px;
}

.footer h5{
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	/* Text style for "C, ontact" */
	letter-spacing: 1.8px;
}

.contacts_us p {
	margin-top: 24px;
	width: 221px;
	height: 102px;
	color: #212121;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}

.useful_info {
	width: 426px; 
	margin-right: 78px;
}

.useful_info ul{
	list-style-type: none;
	margin-top: 25px;
	float: left;
}

.useful_info .useful_info1 {
	margin-right: 96px;
	margin-left: 0px;
}

.useful_info .useful_info2 {
	
}

.useful_info a {
	text-decoration: none;
	color: #212121;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	/* Text style for "Sales term" */
	letter-spacing: 0.7px;
}

.subscribe {
	width: 370px;
}

.subscribe p {
	width: 363px;
	color: #212121;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	margin-bottom: 26px;
	margin-top: 24px;
}

.email {
	width: 370px;
	height: 48px;
	position: relative;
	z-index: 1;
}

.subscribe input[name="email"] {
	width: 370px;
	height: 48px;
	border: 1px solid #d9dee1;
	background-color: #ffffff;
	padding-left: 19px;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}


.email input[name="plane"] {
	position: absolute;
	right: 14px;
	top: 16px;
	z-index: 20;
	width: 21px;
	height: 17px;
	border: none;
}

/*.fab fa-telegram-plane {
width: 21px;
color: #6c6c6c;
font-family: icomoon;
font-size: 22px;
font-weight: 400;
line-height: 22px;
padding: 0px;
}*/

.block2 {
	clear: both;
	margin-left: 97px;
}

.block2 p {
	float: left;
	margin-right: 158px;
	height: 9px;
	color: #6c6c6c;
	
	font-size: 12px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	/* Text style for "©,  Copyri" */
	letter-spacing: 0.6px;
}

.block2 p:last-child {
	margin-right: 0px;
}	

.social {
width: 129px;
height: 28px;
float: left;
margin-right: 172px;
}

.social ul {
	list-style-type: none; 
}

.social ul li {
	float: left;
}

.social .link1 a{
	background: #ffffff url('img/social-links.png') no-repeat 0px 0px;
	width: 32.25px;
	height: 28px;
	display: block;
}

.social .link2 a{
	background: #ffffff url('img/social-links.png') no-repeat -32.25px 0px;
	width: 32.25px;
	height: 28px;
	display: block;
}

.social .link3 a{
	background: #ffffff url('img/social-links.png') no-repeat -64.5px 0px;
	width: 32.25px;
	height: 28px;
	display: block;
}

.social .link4 a{
	background: #ffffff url('img/social-links.png') no-repeat -96.5px 0px;
	width: 32.25px;
	height: 28px;
	display: block;
}


/*Страница contact*/
/*шапка для страницы контакты, пока временная мера*/
.header1 {
	height: 360px;
	background-color: #f5f5f5;
}

.header1 .logo {
	margin-left: 98px;
	margin-top: 63px;
}

.header1 h1 {
	margin-top: 171px;
	margin-left: 101px;
	color: #212121;
	font-size: 62px;
	font-weight: 400;
	line-height: 72px; 
}

.location {
	/* Style for "location" */
	width: 1170px;
	height: 370px;
	margin: 71px 98px 122px 98px;

}

.location .card {
	float: left;
	border-width: 1px;
	border-color:  #9c9c9c;
	border-style: solid;
	background-color:  #ffffff;
	opacity: 0.9;
	width: 368px;
	height: 368px;
	margin-right: 30px;
}

.location .card:last-child {
	margin-right: 0px;
}

.card .geo_pict {
	width: 38px;
	height: 48px;
	background: url(img/geo.png) no-repeat;
	margin: 48px auto 34px;
}

.card h3 {
	color: #212121;
	font-size: 22px;
	font-weight: 700;
	line-height: 29.88px;
	text-transform: uppercase;
	margin: 34px auto 23px;
	text-align: center;
}

.card p {
		/* Style for "Phone: 190" */
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	color: #212121;	
	text-align: center;
	padding: 0;
	margin-bottom: 63px;
}

.card span {
	color: #6c6c6c;
}

.card .address {
	font-weight: 300;
}


/*страница продуктов*/
.menu_products {
	margin: 71px 105px 0px;
}

.menu_products li {
	float: left;
	list-style-type: none; 
}

.menu_products li a{
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	text-decoration: none;
	padding: 0 10px 21px;
	border-bottom: 1px solid #6c6c6c;
}

.menu_products li a:hover{
	color: #212121;
	border-bottom: 3px solid #212121;
}

.clr2 {
	clear: both;
}

.load{
	width: 42px;
	height: 29px;
	margin: 71px auto 140px;
}

.trending_products1 {
	margin: 119px auto 0 auto;
	width: 1171px;
	height: 1569px;
}

.trending_products1 .products {
	margin-top: 64px;
	list-style-type: none;
	width: 1170px;
}

/*product_deails*/
.header2 {
	height: 119px;
	background-color: #ffffff;
}

.header2 .logo {
	margin-left: 98px;
	margin-top: 63px;
}

.menu_product_deails_block {
	height: 70px;
	background-color: #f4f4f4;
}

.menu_product_deails {
	margin: 0 auto;
	list-style-type: none;
	width: 647px; 
}

.menu_product_deails li{
	float: left;
	padding: 28px 10px;
}

.menu_product_deails li a {
	height: 13px;
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	text-decoration: none;
}

.menu_product_deails li a:hover {
	color: #212121;
}

.products_details {
	width: 1140px;
	margin: 72px auto 0;
}

.products_details img {
	width: 570px;
	height: 570px;
	float: left;
	margin-right: 61px;
}

.text5 {
	width: 499px;
	float: left;
}

.text5 h2 {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 23px;
}

.text5 h4 {
	text-align: center;
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-bottom: 36px;
}

.text5 .hot_price {
	color: #212121;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	/* Text style for "" */
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 31px;
}

.text5 .hot_price .price_number {
	font-size: 72px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	text-align: center;
	transform: scaleY(1.0005);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.text5 p {
	color: #212121;
	font-size: 16px;
	font-weight: 300;
	line-height: 24.01px;
	/* Text style for "The majest" */
	letter-spacing: 0.4px;
	margin-top: 49px;
}

.text5 a {
	display: block;
	width: 510px;
	height: 71px;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	background-color: #f44336;
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	line-height: 70px;
	text-transform: uppercase;
	letter-spacing: 4.4px;

	text-align: center;
	border-radius: 35px;
	margin: 0 auto;
	text-decoration: none;
}

.text5 a:hover {
	background:  #f44336 url('img/arrow1.png') no-repeat 350px 22px;
}


.related_products {
	margin: 119px auto 0 auto;
	width: 1171px;
	height: 370px;
}

.related_products h3 {
	color:  #212121;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	margin-top: 0;
	display: inline;
}

.related_products .products {
	margin-top: 64px;
	list-style-type: none;
	width: 1170px;
}